<div class="container mt-4 mb-5 pb-5" style="max-width: 420px;">
  {{> message}}
  {{!-- honestly maybe include this later --}}

  <h2 class="mb-3">Home</h2>

  <form action="/home" method="POST">

  <h1>Nutrition Project is running!</h1>
    <p>Now we can start calling Open Food Facts.</p>


    

  